.settings__setting {
    margin: 20px 0;
    border-bottom: 1px solid var(--lightgray);
    padding-bottom: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    padding-right: 20px;
    font-size: 22px;
}

.settings-setting-column:last-child {
    opacity: 0.5;
}